body{
	font-family: Tahoma,Arial,Verdano;
	margin: 0px;
	header{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		background: url(img2/1.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		height:100px;
		p#call
		{
			display: flex;
			align-items: center;
			font-size: 50%;
			color: white;
			width: 40%;
			img{
				width: 50%;
			}
		}
		div#HeaderLinks{
			display: flex;
			flex-direction: row;
			width: 60%;
			font-size: 50%;
			justify-content: flex-start;
			align-items: center;	
			margin-right: 5%;
			color: white;
			input{
				border-radius: 10px 10px 10px 10px;
				height: 25px;
				width: 70%;
			}
		}
	}
	nav
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 400px;
		background: url(img2/1.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		div#MenuLinks
		{
			
			margin-left: 5%;
			width: 35%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: right;
			color: white;
			align-items: flex-end;
			p{
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 300;
				font-size: 25px;
			}
			input{
				background-color: #8824cd;
				color: white;
				border-radius: 25px 25px 25px 25px;
				width: 65%;
				height: 10%;
				border-color: white;

			}
			div#small_text
			{
				font-size: 7px;
				margin-right: 15px;
				margin-top: 10px;
				color: #d7c4c8;
			}
	
		}
		
	}
	main
	{
	article{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 400px;    	
			background: #2e3b4e;
			div#bigblock{
				display: flex;		
				flex-direction: row;
				div#leftblock{
					display: flex;
					flex-direction: column;
					margin-right: 30px;
				}
				div#rightblock{
					display: flex;
					flex-direction: column;
					margin-left: 30px;
				}
				.title{
					color: white;
					font-size: 20px;
				}
				.text_p{
					color: white;
					font-size: 10px;
				}

			}
			
	}
	

	div#Wicked
		{
			height: 400px;
			background: url(img2/2.png);
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			color: white;
			p#hider_text{
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 100;
				font-size: 30px;
			}
			input{
				background-color: white;
				color: #d54c63;
				border-radius: 25px 25px 25px 25px;
				width: 23%;
				height: 30%;
				border-color: white;
				margin-top: 10px;
				font-size: 75%;

			}
			.text_pink
			{
				font-size: 13px;
				color: white;
			}
	
		}


	div#Hand_pen
		{

			height: 400px;
			background: white;
			display: flex;
			justify-content: flex-start;
			text-align: left;
			color: #3a4d60;
			div#image_pen
			{
				width: 43%;
				img{
					width: 100%;
					height: 100%;
				}
			}
			div#pen_text
			{
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 60px;


			p#Header_pen{
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 100;
				font-size: 25px;
			}
			.text_big_pen{
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 100;
				font-size: 15px;
			}
			.text_small_pen{
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 100;
				font-size: 10px;
			}
			}
	
		}


		div#Purple
		{
			height: 400px;
			background: url(img2/purple.png);
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			color: white;
			p#Experience_text{
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 100;
				font-size: 30px;
			}
			input{
				background-color: #8824cd;
				color: white;
				border-radius: 25px 25px 25px 25px;
				width: 23%;
				height: 30%;
				border-color: #8824cd;
				margin-top: 10px;

			}
			.text_purple
			{
				font-size: 13px;
				color: #a87bb7;
			}
			div#small_text_purple{
			
				font-size: 10px;
				color: #a87bb7;
			}
	
		}



		div#eat
		{
			background: url(img2/eat.png);
			width: 100%;
			height: 500px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: left;
			color: white;
			p{
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 300;
				font-size: 30px;
				padding-left: 70px;

			}
			input{
				background: none;
				color: white;
				border-radius: 25px 25px 25px 25px;
				width: 16%;
				height: 10%;
				border-color: white;
				margin-left: 70px;

			}
			div#face
			{
				display: flex;
				margin-left: 70px;

				div#small_text_eat
				{
					font-size: 15px;
					margin-right: 15px;
					margin-left: 15px;
					margin-top: 14px;
					color: #d7c4c8;
				}
			}
	
		}


		div#Hand
		{

			height: 400px;
			background: white;
			display: flex;
			justify-content: flex-end;
			text-align: left;
			color: #3a4d60;
			div#image_hand
			{
				width: 43%;
				img{
					width: 100%;
					height: 100%;
				}
			}
			div#hand_text
			{
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-right: 60px;


			p#Header_hand{
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 100;
				font-size: 25px;
			}
			.text_big_hand{
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 100;
				font-size: 15px;
			}
			.text_small_hand{
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 100;
				font-size: 10px;
			}
			}
	
		}


		div#pink
		{
			height: 300px;
			background: #e7526b;
			color: white;

			p#Header_pink{
				padding-top: 50px;
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 100;
				font-size: 20px;
				margin-left: 100px;
			}
			.text_big_pink{
				margin-left: 100px;
				font-size: 10px;
				color: #cbced3;
			}
		}

		div#darkblue
			{
				height: 200px;
				background: #2e3b4e;
				color: #cbced3;

				p{
					padding-top: 50px;
					margin-top: 0px;
					margin-bottom: 0px;
					font-weight: 100;
					font-size: 10px;
					margin-left: 100px;
				}
			}



	}
}